
/**************************************************************

	Image Menu
	v 2.2

**************************************************************/


#imageMenu {
	position: relative;
	width: 500px;
	height: 200px;
	overflow: hidden;
}



#imageMenu ul {
	list-style: none;
	margin: 0px;
	display: block;
	height: 200px;
	width: 1000px;
	
	}

#imageMenu ul li {
	float: left;
}

#imageMenu ul li a {
	text-indent: -1000px;
	background:#FFFFFF none repeat scroll 0%;
	border-right: 2px solid #fff;
	cursor:pointer;
	display:block;
	overflow:hidden;
	width:98px;
	height: 120px;
}

#imageMenu ul li.menu1 a {
	background: url(/gui/images/home.png) no-repeat scroll 0%;
}

#imageMenu ul li.menu2 a {
	background: url(/gui/images/inbound.png) no-repeat scroll 0%;
}

#imageMenu ul li.menu3 a {
	background: url(/gui/images/inbound_log.png) no-repeat scroll 0%;
}

#imageMenu ul li.menu4 a {
	background: url(/gui/images/outbound.png) no-repeat scroll 0%;
}

#imageMenu ul li.abstract a {
	background: url(/gui/images/abstract.jpg) no-repeat scroll 0%;
	width: 310px;
}

.clear {
	clear: both;
}

/*************************************************************/
